{% extends "layouts.html" %}

{% block title %}Apie mus{% endblock %}

{% block apie_mus %}
    <div class="content3">
        <div class="content4">
            <div class="foto4a" ></div>
            <div class="foto6a"></div>
            <div class="content5">
                <div class="tekstas1"> Kas mes?</div>
                <div><p class="tekstas2"> Tipu Tapu, tai turizmo agentūra, kurios tikslas - paskatinti užsienio turistų,
                    bei šalies gyventojų, susidomėjimą Baltijos šalimis. Leisti pažinti kiekvieną iš jų skirtingų
                    pusių, per gamtos stebuklus, architektūrą, meną, maistą ir istoriją. Kiekvienas pateiktas maršrutas
                    gali būti koreaguojamas ir pritaikomas prie Jūsų poreikių bei tikslų. Siekame, kad keliones metu
                    kiekvienas atrastų ką nors naują, pasisemtų įkvėpimo bei gerai praleistų laiką. </p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
