{% extends "layouts.html" %}

{% block title %}Pagrindinis{% endblock %}

{% block pagrindinis %}
    <div class="content">
        <div class="content1">
            <div class="foto1a"></div>
            <div class="foto2a"></div>
            <div class="foto3a"></div>
            <div class="content2">
                <div><p class="tekstas"> Užburiantys viduramžių miestai, miesteliai, kvapą gniaužianti gamta,
                    nepamirštamos akimirkos keliaujant po Baltijos šalis.</p></div>
            </div>
            <div class="fonas"></div>
        </div>
    </div>

{% endblock %}

