{% extends "layouts.html" %}

{% block title %}keliones{% endblock %}

{% block keliones %}

    <div class="content10">
        <div class="foto16a" ></div>
        <div class="antrastine1"> Pateikiame populiariausias ir klientų geriausiai vertinamas eskursijas. Prie jų
        pateikiama trumpas aprašymas ir susijusi informacija. Platesnė informacija pateikiama telefonu arba el. paštu.
        </div>
    </div>
    <div class="content11">
        <div class="lietuva">Lietuva</div>
        <div class="kvadratas1"> </div>
        <div class="foto7a"> </div>
        <div class="tekstas10">
            <h1>Pažink Kauną per gatvės meną</h1>
            <p>Maršruto metu bus parodomi įspūdingiausi Kauno miesto gatvių meno kūriniai.</p>
            <p>Tipas: pažintinė<br> Vieta: Kaunas, Lietuva<br>Trukmė: 3 valandos<br>Kaina: 15 eurų 1 asmeniui/kelionės
            išlaidos neįskaičiuotos<br>Kalba: lietuvių, anglų<br>Daugiau informacijos: +37063454789 <br> arba el.paštu:
            tiputapu@gmail.com</p>
        </div>
    </div>
    <div class="content12">
        <div class="kvadratas2"> </div>
        <div class="foto8a"> </div>
        <div class="tekstas11">
            <h1>Pažink Trakus</h1>
            <p>Savo unikalumu ir gausa garsėjantis Trakų krašto nematerialus kultūros paveldas - tai dabartį ir praeitį bei
            kultūrų įvairovę, jungiantis gyvybingumo tiltas.</p>
            <p>Tipas: pažintinė <br>Vieta: Trakai, Lietuva <br>Trukmė: 3 valandos <br> Kaina: 20 eurų 1 asmeniui/kelionės
            išlaidos neįskaičiuotos <br>Kalba: lietuvių, anglų <br>Daugiau informacijos: +37063454789 <br>arba el.paštu:
            tiputapu@gmail.com</p>
        </div>
    </div>
    <div class="content13">
        <div class="kvadratas3"> </div>
        <div class="foto9a"></div>
        <div class="tekstas12">
            <h1>Naktinis Vilnius</h1>
            <p>Tikros ir išgalvotos istorijos, mitai ir legendos nukels daugybę šimtmečių atgal ir suteiks galimybę išgirsti
            istorijas apie karališkąją meilę, vienuolių intrigas ir karų siaubą bei pasinerti į mistinio Vilniaus
            gyvenimą.</p>
            <p>Tipas: pažintinė <br>Vieta: Vilnius, Lietuva <br>Trukmė: 2 valandos <br>Kaina: 15 eurų 1 asmeniui/kelionės
            išlaidos neįskaičiuotos <br>Kalba: lietuvių, anglų <br> Daugiau informacijos: +37063454789 <br> arba
            el.paštu: tiputapu@gmail.com</p>
        </div>
    </div>
    <div class="content14">
        <div class="latvija">Latvija</div>
        <div class="kvadratas4"> </div>
        <div class="foto10a"> </div>
        <div class="tekstas13">
            <h1>Rygos senamiesčiu</h1>
            <p>Šalyje yra du UNESCO pasaulio paveldo objektai. Vienas iš jų Rygos senamiestis, garsėjantis art nouveau
            architektūra.</p>
            <p>Tipas: pažintinė<br>Vieta: Ryga, Latvija<br>Trukmė: 5 valandos <br>Kaina: 40 eurų 1 asmeniui/kelionės
            išlaidos neįskaičiuotos <br>Kalba: lietuvių, anglų <br>Daugiau informacijos: +37063454789 <br>arba el.paštu:
            tiputapu@gmail.com</p>
        </div>
    </div>
    <div class="content15">
        <div class="kvadratas5"> </div>
        <div class="foto11a"> </div>
        <div class="tekstas14">
            <h1>Eskursija po centrinį Rygos turgų</h1>
            <p>Rygos centrinis turgus yra vienas didžiausių turgų Europoje. Pirmojo pasaulinio karo metais, paviljonuose,
            kuriuose dabar yra turgus, buvo laikomi dirižabliai.</p>
            <p>Tipas: pažintinė Vieta: Ryga, Latvija <br>Trukmė: 2 valandos <br>Kaina: 30 eurų 1 asmeniui/kelionės išlaidos
            neįskaičiuotos <br>Kalba: lietuvių, anglų <br>Daugiau informacijos: +37063454789 <br>arba el.paštu:
            tiputapu@gmail.com</p>
        </div>
    </div>
    <div class="content16">
        <div class="kvadratas6"> </div>
        <div class="foto12a"> </div>
        <div class="tekstas15">
            <h1>Saulėtekis Kemerių nacionaliniame parke + Jūrmala</h1>
            <p>Stebėkite, kaip saulė teka virš Kemerių nacionalinio parko per šią privačią ekskursiją po vieną iš Latvijos
            gamtos lobių.</p>
            <p>Tipas: pažintinė <br>Vieta: Ryga, Latvija <br>Trukmė: 2 valandos <br>Kaina: 116 eurų 1 asmeniui <br>Kalba:
            lietuvių, anglų <br>Daugiau informacijos: +37063454789 <br>arba el.paštu: tiputapu@gmail.com</p>
        </div>
    </div>
    <div class="content17">
        <div class="estija">Estija</div>
        <div class="kvadratas7"> </div>
        <div class="foto13a"> </div>
        <div class="tekstas16">
            <h1>Talino gatvėmis</h1>
            <p>Talino senamiestis yra vienas geriausiai išsilaikiusių Viduramžių miestų Europoje ir yra įtrauktas į „UNESCO“
            paveldo sąrašą.</p>
            <p>Tipas: pažintinė <br>Vieta: Talinas, Estija <br>Trukmė: 6 valandos <br> Kaina: 70 eurų 1 asmeniui/kelionės
            išlaidos neįskaičiuotos <br>Kalba: lietuvių, anglų <br>Daugiau informacijos: +37063454789 <br>arba el.paštu:
            tiputapu@gmail.com</p>
        </div>
    </div>
    <div class="content18">
        <div class="kvadratas8"> </div>
        <div class="foto14a"> </div>
        <div class="tekstas17">
            <h1>Naktinis Talinas</h1>
            <p>Senas miestas kaip Talinas turi daugybę legendų ir pasakojimų apie vaiduoklius. Senieji bokštai byloja apie
            velnius ir įstrigusias sielas.</p>
            <p>Tipas: pažintinė <br>Vieta: Talinas, Estija <br>Trukmė: 3 valandos <br>Kaina: 70 eurų 1 asmeniui/kelionės
            išlaidos neįskaičiuotos <br>Kalba: lietuvių, anglų <br>Daugiau informacijos: +37063454789 <br>arba el.paštu:
            tiputapu@gmail.com</p>
        </div>
    </div>
    <div class="content19">
        <div class="kvadratas9"> </div>
        <div class="foto15a"> </div>
        <div class="tekstas18">
            <h1>Estijos pažinimas per kulinariją</h1>
            <p>Estijos maistas, gėrimai ir istorijos turas ne tik suteiks galimybę susipažinti su įspūdinga miesto istorija,
            bet ir pajusti jo skonį, kad susidarytumėte ryškų įspūdį.</p>
            <p>Tipas: pažintinė <br> Vieta: Raekoja plats 1Focus, Estija <br>Trukmė: 5 valandos <br>Kaina: 60 eurų 1
            asmeniui/kelionės išlaidos neįskaičiuotos <br>Kalba: lietuvių, anglų <br>Daugiau informacijos:
            +37063454789 <br>arba el.paštu: tiputapu@gmail.com<p>
        </div>
    </div>

{% endblock %}
