<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='{{ url_for("static", filename="css/home.css") }}'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="main">
    <div class="navigation" style="z-index: 50">
        <nav>
            <ul>
                <h1 class="pavadinimas">TipuTapu</h1>
                <li><a href="/" class="nav_link">Pagrindinis</a></li>
                <li><a href="/apie_mus" class="nav_link">Apie mus</a></li>
                <li><a href="/keliones" class="nav_link">Kelionės</a></li>
                <li><a href="/kontaktai" class="nav_link">Kontaktai</a></li>
            </ul>
        </nav>
    </div>

</div>

    {% block pagrindinis %}{% endblock %}

    {% block apie_mus %}{% endblock %}

    {% block keliones %}{% endblock %}

    {% block kontaktai %}{% endblock %}
</body>
</html>